html,
body {
  height: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-3 {
  padding-left: 3px;
}

.ml-2 {
  margin-left: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-23 {
  margin-left: 23px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-32 {
  margin-left: 32px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.h-20 {
  height: 20px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/* helpers end */
.main {
  height: 100%;
}

.main-logo {
  height: 85px;
}

.search-bar {
  margin-top: 40px;
  width: 320px;
}

.search-bar__btn {
  position: relative;
  margin-top: -1px;
}

.search-bar__field:before {
  content: url("../images/searchbar-rounded.png");
  position: absolute;
  left: -7px;
}

.search-bar__field:after {
  content: url("../images/searchbar-rounded-r.png");
  position: absolute;
  right: -7px;
}

.search-bar__btn-text:before {
  content: url("../images/search-btn-rounded.png");
  position: absolute;
  top: 0;
  left: -7px;
}

.search-bar__btn-text:after {
  content: url("../images/search-btn-rounded-right.png");
  position: absolute;
  top: 0;
  right: -7px;
}

.header-top__account {
  margin-top: 28px;
  font-size: 14px;
}

.header-top__account-actions {
  margin-top: 6px;
  font-size: 10px;
}

.notif-icons {
  margin-bottom: -3px;
  margin-right: 5px;
}

.content {
  height: 70%;
  padding: 3.5% 0;
}

.search-section {
  width: 20.46%;
  height: 100%;
}

.search-section:first-child {
  margin-left: 0;
}

.entries-section {
  width: 57%;
  margin-left: 1.9%;
  height: 100%;
}

.video-section {
  width: 18.56%;
  height: 100%;
  margin-left: 1.9%;
}

.header-bottom {
  height: 40px;
  line-height: 40px;
}

.header-bottom__items {
  float: left;
  margin-left: 32px;
}

.header-bottom__items:first-child {
  margin-left: 0;
}

.list-section__item {
  padding: 12px;
}

.list-section__item-icon img {
  float: right;
  width: 12px;
  height: 12px;
}

.entries-body {
  height: 95.3%;
}

.entries-type {
  width: 49.8%;
  height: 100%;
  float: left;
  position: relative;
}

.entries-type:before {
  content: url("../images/entry-type-rounded.png");
  position: absolute;
  top: 0;
  left: 0px;
}

.entries-type:after {
  content: url("../images/entry-type-rounded-r.png");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.entries-type__title {
  height: 35px;
  line-height: 35px;
}

.background-element {
  position: absolute;
  top: 0;
  left: 13px;
  right: 13px;
  height: 100%;
  z-index: -10;
}

.entries-tab-wrapper {
  height: 28px;
  width: 46%;
  margin-left: 10px;
}

.entries-tab {
  height: 100%;
  width: 86%;
  line-height: 28px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.entries-tab:before {
  content: url("../images/tab-rounded-inactive.png");
  position: absolute;
  left: -13px;
}

.entries-tab:hover:before {
  content: url("../images/tab-rounded-active.png");
  position: absolute;
  left: -13px;
}

.entries-tab:after {
  content: url("../images/tab-rounded-inactive-r.png");
  position: absolute;
  right: -13px;
  z-index: 10;
}

.entries-tab:hover:after {
  content: url("../images/tab-rounded-active-r.png");
  position: absolute;
  right: -13px;
  z-index: 10;
}

.entries-body__content {
  height: 90.978%;
}

.entry-img {
  height: 82.35%;
}

.entry-description-wrapper {
  margin-left: 10px;
  height: 82.35%;
}

.entry-specs {
  margin-top: 2px;
}

.footer {
  height: 42px;
  line-height: 42px;
}

.footer__dots {
  margin: 0 7px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
